@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

*{
    margin: 0;
    padding: 0;
  font-family: 'Poppins',sans-serif;
}
.nav-bar{
    background: #ffffff;
    color: rgb(0, 0, 0);
    padding: 20px;
    font-family: sans-serif;
}
.nav-bar img{
    border-radius: 50%;
    height: 55px;
    float: left;
    margin-left: 20px;
}



.menu-right{
    text-align: right;
}
ul li{
    display: inline-block;
    margin: 20px 55px 0px 145px;
    list-style: none;
    
}
ul li a{
    text-decoration: none;
    color: black;

}
ul li a:hover{
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    background-color: black;
    padding: 5px;
    transition: 0.2s ease-in;
}

span{
    margin: 0 20px;
    font-size: 28px;
    cursor: pointer;
    display: none;
}

.navbar ul{
  display: flex;  
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 28px 69px;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}
.col-1{
    flex-basis: 40%;
    position: relative;
    margin-left: 140px;
}
.col-1 h1{
    display: inline;
    font-size: 45px;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;

}
.clu-head{
    display: inline-block;
    font-size: 45px;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    color: #e3257e;


}
.cc{
    font-size: 45px;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    color: #51aa6c;
}
.col-1 p{
    font-size: 15px;
    color: rgb(41, 38, 38);
    letter-spacing: 0.3px;
    margin-bottom: 31px;

}
.col-1 a{
    text-decoration: none;
    width: 140px;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 12px 10px;
    font-weight: 500;
    outline: none;
    color: black;
    font-family: 'poppins';
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: #837d7d;
}
.col-1 a:hover{
    width: 190px;
    background-color: #e3257e;
    padding: 15px;
    border: 0px;
    color: rgb(255, 255, 255);
    transition: 0.3s ease-in-out;
}
.col-1::after{
    content: ' ';
    width: 10px;
    height: 57%;
    background: #7809c4e0;
    position: absolute;
    left: -44px;
    top: 8px;
}
.choose-head  h1{
    text-align: center;
    font-size: 35px;
    font-family: 'poppins',sans-serif;
    font-weight: 400;
    
}
.choose-head p{
    text-align: center;
    color: #837d7d;
}
.parent{
    display: flex;
    flex-direction: row;
    flex: 1 1 1;
    flex-wrap: wrap;
    justify-content: space-around;
}
  

.child{
    margin: 34px 31px;
    width: 30vh;
    height: 40vh;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.child h2{
    margin-top: 25px;
    text-align: center;
    font-family: 'poppins',sans-serif;
    font-weight: 300;
    font-size: 25px;
}
.child img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px ;
    margin-right: auto;
    width: auto;
    height: 20vh;
}
.child p{
    text-align: center;
    font-size: 15px;
}
.child:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.about-heading h1{
    font-size: 35px;
    font-family: 'poppins',sans-serif;
    font-weight: 300;
    text-align: center;
}
.about-us{
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 65px 0px 130px;
}
.about-text{
    flex-basis: 40%;
    position: relative;
    margin-left: 140px;
    padding: auto;
}
.about-text h2{
    font-size: 25px;
    font-family: 'poppins',sans-serif;
    font-weight: 400;
    margin-bottom: 10px;
    color: #e9719e;
}
.about-text p{
    color: #7a7a7a;
    text-align: justify;
    letter-spacing: 0.2px;
}
.about-text::after{
    content: ' ';
    width: 5px;
    height: 20%;
    background: #e9719e;
    position: absolute;
    left: -20px;
    top: 1px;
    
}
.about-image{
    flex-basis: 60%;
    margin-left: 237px;
}
.about-image img{
    width: auto;
    height: 50vh;
}


#team{
    position: relative;
    top: -10vh;
    width:100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.heading{
    font-size: 1.3rem;
    color: #2c2c2c;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin: 20px;
}
.heading i{
    background-color: #507bfc;
    box-shadow: 2px 5px 30px rgba(80,123,252,0.4);
    color: #ffffff;
    width:40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    margin: 0px 20px;
}
.box{
    width:266px;
    height: 340px;
    background-color: #ffffff;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    position: relative;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.top-bar{
    width:50%;
    height: 4px;
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translateX(-50%);
    background-color: #507bfc;
    border-radius: 0px 0px 10px 10px;
}
.verify{
    color:#17b667;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.nav .heart{
    color: rgba(155,155,155);
}
.nav .heart:before{
    content: ' ';
    font-family: fontAwesome;
    line-height: 30px;
    z-index: 1;
    cursor: pointer;
}
.nav .heart-btn:checked ~ .heart:before{
    color: #e41934;
}
.nav .heart-btn{
    display: none;
}
.details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.details img{
    width:100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}
.details strong{
    font-weight: 500;
    color: #141414;
    letter-spacing: 1px;
    margin-top: 10px;
}
.details p{
    font-size: 0.8rem;
    color: #7a7a7a;
    margin: 5px 0px;
}
.btn{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn a{
    color:#8b8b8b;
    padding: 8px 22px;
    border-radius: 20px;
    font-size: 0.9rem;
}
.btn a i{
    margin-right: 10px;
}
.btn a:hover{
    color: #fff;
    background-color: #507bfc;
    box-shadow: 2px 5px 15px rgba(80,123,252,0.5);
    transition: all ease 0.3s;
}
.box:hover{
    box-shadow: 2px 2px 30px rgba(4,15,49,0.1);
    transform: scale(1.01);
    transition: all ease 0.1s;
}
.gallery-heading{
    position: relative;
    margin-top: -60px;
}
.gallery-heading h1{
    text-align: center;
    font-size: 35px;
    font-family: 'poppins',sans-serif;
    margin-top: 30px;
    font-weight: 500;
    color: black;
    
}
.img-gallery{
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;


}


.img-gallery img{
    width: 100%;
    cursor: pointer;
    
}
.img-gallery img:hover{
   transform: scale(0.8) rotate(-15deg);
   transition: 0.3s ease-in;
    border-radius: 20px;
    box-shadow: 0 32px 75px rgba(68,77,136,0.2);
}
.full-img span{
    position: static;
    top: 5%;
    right: 2%;
    font-size: 30px;
    color: white;
    cursor: pointer;

}
.full-img{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.9);
    position: static;
    top:0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
}
.full-img img{
    width: 90%;
    max-width: 500px;

}
.project-heading h1{
    position: relative;
    top: 5vh;
    text-align: center;
    font-size: 35px;
    font-family: 'poppins',sans-serif;
    font-weight: 400;
}



.pro-card{
    position: relative;
    top: 8vh;
    height: 50vh;
    width:95%;
    background: #141414;
    position: relative;
    margin: 25px;
    margin-right: 25px;
    box-sizing: border-box;
    box-shadow: 2px 3px 8px 0 rgb(45, 47, 36);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin: 25px;
}
.pro-text{
    flex-basis: 40%;
    margin-left: 25px;
}
.pro-text h2{
    color: white;
    font-size: 25px;
    font-family: 'poppins',sans-serif;
    font-weight: 500;
    letter-spacing: 0.5px;
}
.pro-text p{
    text-align: justify;
    font-size: 15px;
    color: #bdbdbc;
    font-family: 'poppins';
    font-weight: 500;
}
.pro-text a{
    padding: 5px;
    background-color: #141414;
    border: 1px solid #b4a8a8;
    position: relative;
    top: 17px;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'poppins',sans-serif;
    font-weight: 200;
    color: white;
}
.pro-text a:hover{
    padding-right: 10px;
    padding-left: 10px;
    transition: 0.5s ease-in-out;
}
.pro-image{
    flex-basis: 60%;
}
.pro-image img{
    width: 60vh;
    height: auto;
   margin-left: 103px;
}

/*========join page=====*/


body{
	height: 100vh;
	width: 100%;
}

.contact-container{
	position: relative;
    top: 10vh;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}

.contact-container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("img/bg.jpg") no-repeat center;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}
.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.left{
	background: url("./images/login3d.png") no-repeat center;
	background-size: cover;
    background-color: rgb(26, 26, 224);
	height: 100%;
}

.right{
    background: rgb(73, 139, 242);
	padding: 25px 40px;
}

.contact-h2{
    color: white;
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

.contact-h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #f8f8f8;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btnc{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #000000;
	color: rgb(248, 248, 248);
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btnc:hover{
    background-color: #0b0d0e;
}

.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}

/*===== VARIABLES CSS =====*/

/*=== Colores ===*/
:root{
    --first-color: #12192C;
    --text-color: #8590AD;
}

/*=== Fuente y tipografia ===*/
:root{
    --body-font: 'Roboto', sans-serif;
    --big-font-size: 2rem;
    --normal-font-size: 0.938rem;
    --smaller-font-size: 0.875rem;
}



/*======our gallery=======*/
.sub-gallery-heading{
    display: flex;
    align-items: center;
    justify-content: center;

}
.sub-gallery-heading h1{
    font-size: 40px;
    font-family: 'poppins',sans-serif;
    font-weight: 600;
    color: black;
}






.footer-distributed {
    background-color: #191919;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
  
    padding: 55px 50px;
    margin-top: 80px;
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
  }
  
  /* Footer left */
  
  .footer-distributed .footer-left {
    width: 40%;
  }
.footer-left img{
    border-radius: 50%;
}
  
  /* The company logo */
  
  .footer-distributed h3 {
    color: #ffffff;
    font: normal 36px "poppinsrj", cursive;
    margin: 0;*  }
  
  .footer-distributed h3 span {
    color: #5383d3;
  }
  
  /* Footer links */
  
  .footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
  }
  
  .footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    font-size: 15px;
    font-weight: 200;
    text-decoration: none;
    color: inherit;
  }
  .footer-distributed .footer-links a:hover{
      color: pink;
      transition: 0.2s ease-in;
  }
  
  .footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }
  
  /* Footer Center */
  
  .footer-distributed .footer-center {
    width: 35%;
  }
  
  .footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
  }
  
  .footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
  }
  
  .footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
  }
  
  .footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
  }
  
  .footer-distributed .footer-center p a {
    color: #5383d3;
    text-decoration: none;
  }
  
  /* Footer Right */
  
  .footer-distributed .footer-right {
    width: 20%;
  }
  
  .footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
  }
  
  .footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .footer-distributed .footer-icons {
    margin-top: 25px;
  }
  
  .footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
  
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
  
    margin-right: 3px;
    margin-bottom: 5px;
  }
  









@media screen and (min-width: 768px){
    :root{
        --big-font-size: 2.5rem;
        --normal-font-size: 1rem;
    }  
}

/*===== BASE =====*/
*,::before,::after{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    color: var(--first-color);
}
h1{
    margin: 0;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}
.sae .sae-heading{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: black;
    font-weight: 600;
    margin-top: 61px;
}
.sae-image{
    display: flex;
    align-items: center;
    justify-content: center;

}
.sae-image img{
    margin-top: 70px;
    height: 235px;
    width: auto;
    
}
.sae-button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.sae-button a{
    position: relative;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
     color: rgb(0, 0, 0);
     box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
     padding: 15px;
     background-color: rgb(255, 255, 255);
    
}
.sae-button a:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(250, 250, 250);
}
.veiw-img{
     display: flex;
     align-items: center;
     justify-content: center;
    color: white;
    position: relative;
    margin-top: 25px;
    padding: 10px;

}
.veiw-img a{
    background-color: black;
    text-decoration: none;
    font-size: 15px;
    font-weight: 200;
    padding: 12px;
    color: white;
}
.veiw-img a:hover{
    background-color: white;
    color: black;
    margin-left: 5px;
    margin-right: 5px;
    transition: 0.4s ease-in-out;
}


@media only screen and (max-width:700px){
   
    span
    {
        display: block
    }
    ul li{
        display: block;
    }
    ul{
        display: none;
    }
    .row{
        flex-direction: column-reverse;
        margin: 50px 0;
    }
    .col-2{
        flex-basis: 100%;
        margin-bottom: 50px;

    }
    .col-2 .hero{
        width: 412px;
    }
    .col-1{
        flex-basis: 100%;
        margin-left: 65px;

    }
    .col-1 h1{
        font-size: 35px;
    }
    .col-1 p{
        font-size: 15px;
    }
    .parent{
    display: flex;
    align-items: center;
    margin: -4px;
    }
    .child p{
        font-size: 10px;
    }
    .about-us{
        display: flex;
        flex-direction: column-reverse;
    }
    .about-image{
        flex-basis: 100%;
        padding: 20px;
        margin-left: 20px;
    }
    .about-image img{
        width: 412px;
        height: auto;
    }
    .about-text{
     margin-left: 40px;
     margin-right: 10px;
    }
    .about-text p{
        font-size: auto;
        margin-bottom: 119px;
    }
    #team{
        position: relative;
        margin-top: 20px;
    }
    .gallery-heading{
        display: inline-block;
        align-items: center;
    }
    .gallery-heading h1{
       text-align: center;
       position: relative;
       margin-left: 3vh;
    }
    .gallery-images{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

    }
    .gallery-images img{
        width: 34vh;
        height: auto;
    }
    .veiw{
        position: relative;
        left: 16vh;
    }
    .pro-card{
        width: 90%;
        height: 101vh;
        display: flex;
        flex-direction: column;
    }
    .pro-text{
        padding: 10px;
        flex-wrap: wrap;
        flex-basis: 100%;
    }
    .pro-image{
        flex-basis: 100%;
        padding: 10px;
    }
    .pro-image img {
        width: 40vh;
        height: auto;
        margin-top: 77px;
        margin-left:17px ;
    }
    .shape1{
        width: 400px;
        height: 400px;
        top: -11rem;
        left: -6.5rem;
    }
    .shape2{
        width: 300px;
        height: 300px;
        right: -6.5rem;
    }

    .form{
        grid-template-columns: 1.5fr 1fr;
        padding: 0 2rem;
    }
    .form__content{
        width: 320px;
    }
    .form__img{
        display: block;
        width: 700px;
        justify-self: center;
    }
   .full-img{
       top: 550vh;
   }
   .mobile{
       display: none;
   }
   .contact-box{
    grid-template-columns: 1fr;
}
.left{
    height: 200px;
}
#preloader{
 background-size: 200%;
}

.footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}


#preloader{
    background: white url(./images/robotprloader.gif) no-repeat center center;
    background-size: 38%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}